# MapReduce Graduaciones

In [ ]:
###############################################################
#!/usr/bin/python
# Purpose: Migrate Products from MySQL to Mongo
# Dependecies : python-pip , pymongo , mysqldb
# apt-get install python-pip ; pip install pymongo;
# apt-get install python-MySQLdb


import pymongo
import datetime
import enum
from pprint import pprint

In [2]:
mongodb_host = "mongodb://localhost:11111/"
mongodb_dbname = "project_test"

mclient = pymongo.MongoClient(mongodb_host)
mdb = mclient[mongodb_dbname]

In [4]:
collections = mdb.list_collection_names()
print(collections)

['publicacion', 'cargos', 'registro_publicaciones', 'sede_universidad', 'empresa', 'facultad', 'departamento', 'time_', 'egresado', 'contrataciones', 'programa', 'graduaciones', 'institucion', 'revista']

In [7]:
contrataciones = mdb["contrataciones"]
pprint(contrataciones.find()[0])

{'_id': ObjectId('6626a46aa62db005d03b9ddf'),
 'cargo_id': {'cargo_id': 1478,
              'cargo_nombre': 'GEOPHYSICIST/FIELD SEISMOLOGIST'},
 'contratacion_id': 1,
 'date_id': datetime.datetime(1981, 5, 23, 0, 0),
 'egresado_id': {'egresado_address': '7090 John Lodge\nWest Toddtown, NM 23637',
                 'egresado_cellphone': '710-374-63',
                 'egresado_edad': 33,
                 'egresado_emailaddress': 'xford@savage.com',
                 'egresado_etnicgroup': 'ACTIVO',
                 'egresado_firstlastname': 'BURTON',
                 'egresado_gender': 'MASCULINO',
                 'egresado_id': 32,
                 'egresado_names': 'ASHLEY',
                 'egresado_secondlastname': 'SCHROEDER'},
 'empresa_id': {'empresa_id': 76,
                'empresa_nombre': 'DAVIS LLC',
                'empresa_origen': 'BERMUDA'},
 'salario': 44947741.0}

In [9]:
# Egresados por facultad

stage_group_facultad = {
  "$group": {
    "_id" : "$empresa_id.empresa_origen",
    "count_egresado": {"$sum": 1}
  }
}

stage_out_origen = {
  "$out": "contrataciones_origen"
}

pipeline = [
  stage_group_facultad,
  stage_out_origen
]

results = contrataciones.aggregate(pipeline)

for graduacion_mapreduce in mdb["contrataciones_origen"].find():
  print(graduacion_mapreduce)

{'_id': 'VENEZUELA', 'count_egresado': 2}
{'_id': 'ZIMBABWE', 'count_egresado': 2}
{'_id': 'BELGIUM', 'count_egresado': 4}
{'_id': "COTE D'IVOIRE", 'count_egresado': 2}
{'_id': 'HAITI', 'count_egresado': 2}
{'_id': 'PAPUA NEW GUINEA', 'count_egresado': 2}
{'_id': 'MAURITANIA', 'count_egresado': 2}
{'_id': 'SAINT KITTS AND NEVIS', 'count_egresado': 4}
{'_id': 'ESTONIA', 'count_egresado': 4}
{'_id': 'SRI LANKA', 'count_egresado': 2}
{'_id': 'SAO TOME AND PRINCIPE', 'count_egresado': 6}
{'_id': 'ALBANIA', 'count_egresado': 6}
{'_id': 'BULGARIA', 'count_egresado': 2}
{'_id': 'JORDAN', 'count_egresado': 2}
{'_id': 'BOTSWANA', 'count_egresado': 2}
{'_id': 'PAKISTAN', 'count_egresado': 2}
{'_id': 'POLAND', 'count_egresado': 2}
{'_id': 'GERMANY', 'count_egresado': 10}
{'_id': 'AUSTRIA', 'count_egresado': 2}
{'_id': 'BHUTAN', 'count_egresado': 8}
{'_id': 'KIRIBATI', 'count_egresado': 2}
{'_id': 'TAIWAN', 'count_egresado': 2}
{'_id': 'REUNION', 'count_egresado': 2}
{'_id': 'ANDORRA', 'count_egresado': 2}
{'_id': 'MOROCCO', 'count_egresado': 2}
{'_id': 'NIGER', 'count_egresado': 2}
{'_id': 'GUINEA', 'count_egresado': 4}
{'_id': 'TOKELAU', 'count_egresado': 8}
{'_id': 'SAINT HELENA', 'count_egresado': 2}
{'_id': 'KYRGYZ REPUBLIC', 'count_egresado': 2}
{'_id': 'IRAN', 'count_egresado': 2}
{'_id': 'IRAQ', 'count_egresado': 2}
{'_id': 'NEW CALEDONIA', 'count_egresado': 2}
{'_id': 'COOK ISLANDS', 'count_egresado': 4}
{'_id': 'TURKS AND CAICOS ISLANDS', 'count_egresado': 4}
{'_id': 'FRENCH GUIANA', 'count_egresado': 2}
{'_id': 'UKRAINE', 'count_egresado': 2}
{'_id': 'LIECHTENSTEIN', 'count_egresado': 2}
{'_id': 'EQUATORIAL GUINEA', 'count_egresado': 4}
{'_id': 'CAMEROON', 'count_egresado': 2}
{'_id': 'SOMALIA', 'count_egresado': 6}
{'_id': 'HONG KONG', 'count_egresado': 2}
{'_id': 'BRUNEI DARUSSALAM', 'count_egresado': 2}
{'_id': 'MAYOTTE', 'count_egresado': 2}
{'_id': 'GREENLAND', 'count_egresado': 4}
{'_id': 'FRANCE', 'count_egresado': 2}
{'_id': 'MALAWI', 'count_egresado': 2}
{'_id': 'BRITISH VIRGIN ISLANDS', 'count_egresado': 4}
{'_id': 'ANGUILLA', 'count_egresado': 2}
{'_id': 'SAUDI ARABIA', 'count_egresado': 4}
{'_id': 'HUNGARY', 'count_egresado': 2}
{'_id': 'EGYPT', 'count_egresado': 2}
{'_id': 'ETHIOPIA', 'count_egresado': 8}
{'_id': 'MONACO', 'count_egresado': 4}
{'_id': 'BANGLADESH', 'count_egresado': 2}
{'_id': 'AFGHANISTAN', 'count_egresado': 2}
{'_id': 'TOGO', 'count_egresado': 2}
{'_id': 'BARBADOS', 'count_egresado': 2}
{'_id': 'BERMUDA', 'count_egresado': 10}
{'_id': 'GUAM', 'count_egresado': 2}
{'_id': 'SOLOMON ISLANDS', 'count_egresado': 4}
{'_id': 'JAMAICA', 'count_egresado': 2}
{'_id': 'TIMOR-LESTE', 'count_egresado': 6}

In [11]:
# Egresados por tipo programa

stage_group_empresa_nombre = {
  "$group": {
    "_id" : "$empresa_id.empresa_nombre",
    "count_egresado": {"$sum": 1}
  }
}

stage_out_empresa = {
  "$out": "contrataciones_por_empresa"
}

pipeline = [
  stage_group_empresa_nombre,
  stage_out_empresa
]

results = contrataciones.aggregate(pipeline)

for contrataciones_mapreduce in mdb["contrataciones_por_empresa"].find():
  print(contrataciones_mapreduce)

{'_id': 'ADAMS-WELLS', 'count_egresado': 2}
{'_id': 'POWELL-WARD', 'count_egresado': 2}
{'_id': 'PHILLIPS LLC', 'count_egresado': 4}
{'_id': 'HODGES LLC', 'count_egresado': 6}
{'_id': 'RAMIREZ AND SONS', 'count_egresado': 4}
{'_id': 'CERVANTES, CALLAHAN AND OLSON', 'count_egresado': 4}
{'_id': 'STRONG AND SONS', 'count_egresado': 2}
{'_id': 'WILSON-MARTIN', 'count_egresado': 4}
{'_id': 'CLARK-FRITZ', 'count_egresado': 2}
{'_id': 'GONZALEZ, NASH AND CURTIS', 'count_egresado': 2}
{'_id': 'DILLON-POTTER', 'count_egresado': 4}
{'_id': 'PRICE, COOKE AND JAMES', 'count_egresado': 2}
{'_id': 'LEE, KELLY AND LINDSEY', 'count_egresado': 4}
{'_id': 'MORGAN, GREER AND MARQUEZ', 'count_egresado': 2}
{'_id': 'GREEN PLC', 'count_egresado': 4}
{'_id': 'HUDSON-WOOD', 'count_egresado': 4}
{'_id': 'MARTINEZ-BROWN', 'count_egresado': 2}
{'_id': 'PORTER-OROZCO', 'count_egresado': 2}
{'_id': 'SMITH, JOHNSON AND FINLEY', 'count_egresado': 4}
{'_id': 'BROWN, SAUNDERS AND SIMMONS', 'count_egresado': 2}
{'_id': 'BROWN, CAMPBELL AND MORRISON', 'count_egresado': 2}
{'_id': 'ANDERSON PLC', 'count_egresado': 4}
{'_id': 'BARRETT INC', 'count_egresado': 6}
{'_id': 'BLACK-BROWN', 'count_egresado': 2}
{'_id': 'NORTON AND SONS', 'count_egresado': 2}
{'_id': 'OWEN INC', 'count_egresado': 2}
{'_id': 'HORTON-EWING', 'count_egresado': 2}
{'_id': 'BROCK, HERRING AND SMITH', 'count_egresado': 2}
{'_id': 'MCCORMICK, CASTRO AND JENSEN', 'count_egresado': 2}
{'_id': 'LOPEZ-SHAFFER', 'count_egresado': 2}
{'_id': 'OCONNOR, WILLIAMS AND MEYER', 'count_egresado': 2}
{'_id': 'GIBSON, KHAN AND ORTIZ', 'count_egresado': 4}
{'_id': 'COLE-COMBS', 'count_egresado': 2}
{'_id': 'SCHNEIDER AND SONS', 'count_egresado': 2}
{'_id': 'KING LTD', 'count_egresado': 2}
{'_id': 'HARRISON GROUP', 'count_egresado': 2}
{'_id': 'HUMPHREY AND SONS', 'count_egresado': 2}
{'_id': 'MOORE-BAXTER', 'count_egresado': 2}
{'_id': 'NIXON, LIN AND BERG', 'count_egresado': 2}
{'_id': 'MILLER, MUNOZ AND HARRISON', 'count_egresado': 2}
{'_id': 'CARLSON INC', 'count_egresado': 2}
{'_id': 'HARRISON PLC', 'count_egresado': 4}
{'_id': 'COLE-JONES', 'count_egresado': 2}
{'_id': 'YOUNG, ALEXANDER AND ODOM', 'count_egresado': 4}
{'_id': 'SILVA-ANDERSON', 'count_egresado': 2}
{'_id': 'ORTEGA, CLARK AND HANSON', 'count_egresado': 6}
{'_id': 'STEPHENS, STEWART AND RAMOS', 'count_egresado': 2}
{'_id': 'JONES AND SONS', 'count_egresado': 2}
{'_id': 'SPENCER-HERNANDEZ', 'count_egresado': 2}
{'_id': 'FLORES AND SONS', 'count_egresado': 4}
{'_id': 'HOLT, FLETCHER AND LARSON', 'count_egresado': 2}
{'_id': 'BAILEY, EVANS AND ORTEGA', 'count_egresado': 4}
{'_id': 'SIMPSON-SMITH', 'count_egresado': 2}
{'_id': 'COMPTON INC', 'count_egresado': 2}
{'_id': 'LE, BRADSHAW AND HILL', 'count_egresado': 2}
{'_id': 'CASE-FIELDS', 'count_egresado': 2}
{'_id': 'REEVES, RAMIREZ AND BARAJAS', 'count_egresado': 2}
{'_id': 'YATES AND SONS', 'count_egresado': 2}
{'_id': 'GRIFFIN, MACK AND KING', 'count_egresado': 2}
{'_id': 'JOHNSON, OCONNOR AND ROSE', 'count_egresado': 2}
{'_id': 'PALMER GROUP', 'count_egresado': 2}
{'_id': 'JIMENEZ, REED AND MARTIN', 'count_egresado': 4}
{'_id': 'AGUILAR-HOLLAND', 'count_egresado': 4}
{'_id': 'OLSON, GARCIA AND CLARK', 'count_egresado': 2}
{'_id': 'GLASS LLC', 'count_egresado': 2}
{'_id': 'POLLARD, FERRELL AND MACK', 'count_egresado': 2}
{'_id': 'TAYLOR LLC', 'count_egresado': 2}
{'_id': 'HOWARD PLC', 'count_egresado': 2}
{'_id': 'DAVIS LLC', 'count_egresado': 4}
{'_id': 'LEWIS, JONES AND COLLINS', 'count_egresado': 2}
{'_id': 'ROBINSON PLC', 'count_egresado': 2}
{'_id': 'HAYES LLC', 'count_egresado': 2}
{'_id': 'CASE, SILVA AND GREEN', 'count_egresado': 2}
{'_id': 'SWEENEY LLC', 'count_egresado': 2}
{'_id': 'RHODES PLC', 'count_egresado': 4}

In [12]:
# Egresados por tipo sede

stage_group_year = {
  "$group": {
    "_id" : {"$year": {"$toDate": "$date_id"}},
    "count_contratados": {"$sum": 1}
  }
}

stage_out_year = {
  "$out": "contrataciones_year"
}

pipeline = [
  stage_group_year,
  stage_out_year
]

results = contrataciones.aggregate(pipeline)

for contrataciones_mapreduce in mdb["contrataciones_year"].find():
  print(contrataciones_mapreduce)

{'_id': 1971, 'count_contratados': 6}
{'_id': 1996, 'count_contratados': 4}
{'_id': 2011, 'count_contratados': 6}
{'_id': 2006, 'count_contratados': 2}
{'_id': 2009, 'count_contratados': 12}
{'_id': 2021, 'count_contratados': 2}
{'_id': 1988, 'count_contratados': 4}
{'_id': 1980, 'count_contratados': 2}
{'_id': 1992, 'count_contratados': 8}
{'_id': 2004, 'count_contratados': 2}
{'_id': 1978, 'count_contratados': 4}
{'_id': 1991, 'count_contratados': 4}
{'_id': 1983, 'count_contratados': 6}
{'_id': 2005, 'count_contratados': 4}
{'_id': 2016, 'count_contratados': 4}
{'_id': 1997, 'count_contratados': 4}
{'_id': 1990, 'count_contratados': 6}
{'_id': 2023, 'count_contratados': 8}
{'_id': 1976, 'count_contratados': 2}
{'_id': 2012, 'count_contratados': 4}
{'_id': 1998, 'count_contratados': 6}
{'_id': 2001, 'count_contratados': 6}
{'_id': 2017, 'count_contratados': 2}
{'_id': 1994, 'count_contratados': 2}
{'_id': 2015, 'count_contratados': 6}
{'_id': 1999, 'count_contratados': 6}
{'_id': 1973, 'count_contratados': 2}
{'_id': 2014, 'count_contratados': 2}
{'_id': 2002, 'count_contratados': 4}
{'_id': 1972, 'count_contratados': 2}
{'_id': 2018, 'count_contratados': 2}
{'_id': 1985, 'count_contratados': 6}
{'_id': 1981, 'count_contratados': 6}
{'_id': 2013, 'count_contratados': 2}
{'_id': 2008, 'count_contratados': 6}
{'_id': 1989, 'count_contratados': 2}
{'_id': 2003, 'count_contratados': 4}
{'_id': 1987, 'count_contratados': 4}
{'_id': 1974, 'count_contratados': 10}
{'_id': 2007, 'count_contratados': 6}
{'_id': 1986, 'count_contratados': 6}
{'_id': 1977, 'count_contratados': 4}
{'_id': 2019, 'count_contratados': 4}
{'_id': 2000, 'count_contratados': 4}
{'_id': 1979, 'count_contratados': 2}